.NavBar {
  position: fixed;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  z-index: 10;
  padding: 10px 24px;
  top: 0;
  background-color: #fda503d3;
}

.searchValue {
  width: 80%;
  border-radius: 20px;
  border: none;
  padding: 10px 18px;
  height: 100%;
}
.searchValue:hover {
  cursor: text;
}
.searchValue:focus {
  outline: 2px solid green;
}
