.MenuButton {
  height: 70px;
  cursor: pointer;
  font-size: 20px;
  color: #202329;
  font-weight: 400;
  border-radius: 20px;
  border: none;
  font-family: "Montserrat";
  z-index: 2;
}

.BebidasButton {
  background: rgba(127, 255, 212, 0.783);
}

.ComidasButton {
  background: rgba(247, 112, 245, 0.625);
}
