.order-section-container {
  position: relative;
}

.order-title_section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.order-title_section > h1 {
  font-size: large;
  font-weight: bold;
  margin: 0;
}

.order-title_section > span {
  color: rgba(255, 255, 224, 0.564);
}
.name .register-client-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 20px;
  align-items: center;
}
.register-client-form > button {
  width: 40%;
  padding: 12px;
  border-radius: 8px;
  border: solid 1px #fda503d3;
}
.register-client-form > button:hover {
  cursor: pointer;
}

.register-client-form > input {
  width: 100%;
}
.order-list {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  gap: 2px;
  overflow-y: auto; /* Habilitar scroll vertical */
  scrollbar-width: none;
}
.order-list__item {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #2b2b2b;
  border-radius: 4px;
  box-sizing: border-box;
}

.order-list__item > div {
  display: flex;
  height: inherit;
  align-items: center;
  gap: 4px;
}

.order-list__titles {
  font-weight: bold;
  margin-bottom: 12px;
  font-size: larger;
}

.total-to-pay__container {
  width: inherit;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  border-top: solid 1px;
}

.fixedHandler {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  box-sizing: border-box;
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 0 12px;
  bottom: 0;
}
.fixedHandler > section {
  width: inherit;
  background-color: #2b2b2b;
  box-sizing: border-box;
}

.table-buttons-container {
  display: grid;
  padding: 10px;
  margin: 0;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  gap: 8px;
}
.table-buttons-container > li {
  justify-self: center;
}

.table-button {
  background: #2b2b2b;
  padding: 2px 12px;
  border-radius: 4px;
  height: 32px;
  width: 78px;
  font-family: inherit;
  border: solid 1px lightyellow;
  color: lightyellow;
  transition: transform 0.4s ease; /* Transición suave al hacer hover */
}
.table-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
