.order-section-container {
  height: inherit;
  padding: 16px;
  box-sizing: border-box;
}
.order-section-container > div {
  display: grid;
  grid-template-rows: auto auto 10fr 3fr;
  height: 100%;
}

.order-title_section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.order-title_section > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
}

.order-title_section > div > p {
  font-size: 28px;
  font-weight: bold;
  align-content: center;
  margin: 0;
}

.order-title_section > div > span {
  width: 20px;
}

.arrow-div {
  min-height: 20px;
  max-height: 20px;
}

.tables-arrow--true {
  display: block;
  cursor: pointer;
}

.tables-arrow--false {
  display: none;
}

.name .register-client-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 20px;
  align-items: center;
}
.register-client-form > button {
  width: 40%;
  padding: 12px;
  border-radius: 8px;
  border: solid 1px #fda503d3;
}
.register-client-form > button:hover {
  cursor: pointer;
}

.register-client-form > input {
  width: 100%;
}

.order-list-container {
  gap: 2px;
  min-height: min-content;
  margin: 8px 0;
}
.order-list {
  overflow-y: auto; /* Habilitar scroll vertical */
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.order-list__item {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  background-color: var(--light-bg-color);
  box-sizing: border-box;
}

.order-list__titles {
  font-weight: bold;
  margin-bottom: 12px;
  font-size: larger;
}

.fixedHandler {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: var(--light-bg-color);
  border-radius: 10px;
  padding: 0 12px;
  bottom: 0;
}

.total-to-pay__container {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  border-top: solid 1px;
}
#delete-trash-can :hover {
  color: red;
  cursor: pointer;
}

/* -Estilos para activar los botones de mesa


.table-buttons-container {
  display: grid;
  padding: 10px;
  margin: 0;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  gap: 8px;
}
.table-buttons-container > li {
  justify-self: center;
}

.table-button {
  background: #2b2b2b;
  padding: 2px 12px;
  border-radius: 4px;
  height: 32px;
  width: 78px;
  font-family: inherit;
  border: solid 1px lightyellow;
  color: lightyellow;
  transition: transform 0.4s ease;  Transición suave al hacer hover 
} */
/* .table-button:hover {
  cursor: pointer;
  transform: scale(1.1);
} */
